.review-container {
  width: fit-content;
  padding: 1rem;
  background-color: var(--main-500);
  border-radius: 15px;
  color:var(--main-100);
  margin-left:auto;
  margin-bottom: 1rem;
}
.review-head{
  margin-bottom: 1rem;
  font-weight: bold;
}

