.flex{
  display: flex;
}
.img-detail {
  position: relative;
}
.img-detail img {
  width: 300px;
  height: 300px;
  padding:1rem;
  border-radius:2rem;
}
button#love-btn{
  width:60px;
  height: 45px;
  position: absolute;
  top:1rem;
  right: 1rem;
}
button#love-btn svg{
  font-size: 2rem;
}
.pembungkus .list > * {
  padding: 1rem;
}
.pembungkus .list > *:nth-child(2n){
  background-color: var(--main-300);
  color:var(--main-100);
}
