* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
a,
a:hover {
  text-decoration: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

#root{
  max-width: 1080px;
  margin:auto;
  padding: .5rem;
  background: rgb(0, 0, 0,.05);
}
/* font family */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
  font-weight: bold;
  text-transform: uppercase;
}
a,
p,
blockquote {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: normal;
}

::selection {
  color:#fff;
  background: var(--main-400);
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--main-300);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-400);
  border-radius:15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-500);
}
*:focus,*:active{
  border:var(--main-400)
}
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: var(--main-400);
  color: var(--main-100);
  padding: 8px;
  z-index: 100;
}
.skip-link:focus {
   top: 0;
}
