* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
a,
a:hover {
  text-decoration: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

#root{
  max-width: 1080px;
  margin:auto;
  padding: .5rem;
  background: rgb(0, 0, 0,.05);
}
