.warning {
  padding: 1rem;
  border-radius: 15px;
  margin: auto;
  width: fit-content;
  background-color: var(--main-200);
}
.warning a{
  display: block;
  width: fit-content;
  margin: auto;
  margin-top: 1rem;
  border-radius: 15px;
}
