.rating{
  width:90%;
  padding: 1rem;
  border-radius:15px;
  background-color: var(--main-400);
  display:flex;
  margin:auto;
  margin-top: 1rem;
}
.rating .left{
  height: 100px;
  color:white;
  fill:white;
  background-color: rgb(255, 255, 255,.1);
  padding: 1rem;
  border-radius:15px;
  margin-bottom:1rem;
}
.rating .right{
  width:fit-content;
  margin-left: auto;
  padding-right: .5rem;
}
.rating-header {
  font-weight:bold;
  font-size: 1.5rem;
}
